body {
  margin: 0px;
}

p {
  margin: 0px;
  font-family: Helvetica;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.back {
  cursor: pointer;
  display: block;
}

.arrow {
  width: 21px;
  height: 21px;
}

.collect {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
  background-image: url(../icons/whiteHeart.svg);
  width: 20px;
  height: 20px;
}


.collected {
  cursor: pointer;
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  animation: 1s change forwards;
}

@keyframes change {
  0% {
    background-color: rgba(255, 255, 255, 0);
    background-image: url(../icons/whiteHeart.svg);
  }
  100% {
    background-image: none;
    background-color: #F34949;
    -webkit-mask-image: url(../icons/solidHeart.svg);
  }
}

header {
  background: url(../images/pisa10.jpg);
  background-size: 100% 336px;
  
  width: 100%;
  height: 336px;

  border-radius: 0 0 14px 14px;
  box-shadow: 0px 20px 30px 10px rgba(59,59,59,0.05);
}

.float_img {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
}

main {
  margin: 20px;
 
}

.stars {
  display: flex;
  margin: 10px 0 20px;
}

.pisa-name {
  font-size: 20px;
  color: #3B3B3B;
}

.pisa-intro {
  font-size: 12px;
  color: #A9A9B0;
  line-height: 22px;
}

.choose {
  font-size: 14px;
  color: #3B3B3B;
}
.size-price {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 20px;
}

.sp_button, .selected {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  outline: none;
  width: 110px;
  height: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
}

.sp_button:hover {
  border: 1px solid #F34949;
}

.size {
  font-size: 10px;
  color: #A9A9B0;
}

.sp_button:hover .size {
  color: #F34949;
}

.selected {
  border: 1px solid #F34949;
}
.selected .size {
  color: #F34949;
}

.price {
  font-size: 10px;
  color: #3B3B3B;
}

.add {
  border: none;
  outline: none;
  width: 335px;
  height: 30px;
  border-radius: 8px;
  background: #F34949;
  color: white;
  box-shadow: 0px 20px 30px 10px rgba(59,59,59,0.05);
}


.add:hover {
  background: rgb(192, 57, 57);
}

@media screen and (max-width: 374px) and (min-width: 320px) {
  .add {
    width: 280px;
  }
}
@media screen and (min-width: 414px) {
  
  @media screen and (min-width: 768px) {
    body {
      padding: 50px 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    main {
      width: 330px;
    }
    header {
      position: static;
      border-radius: 14px;
      
    }
    @media screen and (min-width: 850px) {
      body {
        padding: 50px 50px;
      }
      main {
        width: 400px;
      }
      header {
        width: 400px;
        height: 375px;
        background-size: 400px 100%;
      }
      @media screen and (min-width:1095px){
        body {
          padding: 50px 150px;
        }
      }
    }
  }
}