body {
  margin: 0;
  padding: 0;
}
header {
  padding: 10px 0;
  text-align: center;
  top: 0;
  background-color: white;
  width: 100%;
  position: fixed;
}
.back {
  cursor: pointer;
  display: block;
  background-image: url(../icons/blackArrow.svg);
  background-size: 100%;
  width: 21px;
  height: 21px;
  position: absolute;
  left: 20px;
}
.menu {
  font-family: Helvetica;
  font-size: 20px;
  color: #3B3B3B;
}
.menu-main {
  margin: 20px 20px;
  
  display: flex;
  justify-content: space-between;
}
.pisa-a {
  cursor: pointer;
}
.img {
  width: 155px;
  height: 155px;
  margin: 20px 0px 10px;
  padding: 0px;
  box-shadow: 0px 10px 10px 10px rgba(59,59,59,0.05);
  border-radius: 14px;
}
.name {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #3B3B3B;
  text-align: left;
}
.priceTag {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #A9A9B0;
  text-align: left;
}
.column, .pisa, .img-div {
  margin: 0px;
  padding: 0px;
}
.filter {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background: #FFFFFF;
  box-shadow: 0 10px 20px 0 rgba(59,59,59,0.20);
  position: fixed;
  right: 10px;
  bottom: 20px;
}

.waterflow {
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 0;
}
.spinner {
  display: flex;
  justify-content: center;
}
.rect1,
.rect2,
.rect3,
.rect4,
.rect5 {
  background: #7E7D7D;
  width: 5px;
  height: 5px;
  margin: 0 5px 5px;
  border-radius: 50%;
}
.rect {
  width: 5px;
  height: 5px;
  margin: 0 5px 5px;
  display: none;
}
.rect1 {
  animation: 1s load infinite;
}
.rect2 {
  animation: 1s 0.25s load infinite;
}
.rect3 {
  animation: 1s 0.5s load infinite;
}
.rect4 {
  animation: 1s 0.75s load infinite;
}
.rect3 {
  animation: 1s 1s load infinite;
}
@keyframes load {
  0% {background: #7E7D7D;}
  100% {background: #A9A9B0;}
}

@media screen and (min-width: 1000px) {
  .img {
    width: 315px;
    height: 315px;
  }
  .menu-main {
    justify-content: space-around;
    margin: 30px 150px 20px;
    box-shadow: 0px 10px 20px 10px rgba(59,59,59,0.05);
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .img {
    width: 250px;
    height: 250px;
  }
  .menu-main {
    justify-content: space-around;
    margin: 30px 100px 20px;
    box-shadow: 0px 10px 20px 10px rgba(59,59,59,0.05);
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .img {
    width: 200px;
    height: 200px;
  }
  .menu-main {
    justify-content: space-around;
    margin-top: 30px;
    box-shadow: 0px 10px 20px 10px rgba(59,59,59,0.05);
  }
}
@media screen and (max-width: 356px) {
  .img {
    width: 100px;
    height: 100px;
  }
  .menu-main {
    justify-content: space-around;
  }
}