body {
  margin: 0;
  padding: 0;
}
.pictures-box {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pictures-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image {
  width: 335px;
  height: 335px;
  border-radius: 8px;
}
.imageL, .imageR {
  width: 315px;
  height: 315px;
  border-radius: 8px;
}
.img-liL, .img-liR {
  border-radius: 8px;
  height: 315px;
  
}
.img-li {
  margin: 0 10px;
  
}
.introduction {
  margin: 20px;
  text-align: center;
  width: 335px;
}
.intro_header {
  font-family: Helvetica;
  color: #3B3B3B;
  font-size: 24px;
}

.description {
  font-family: Helvetica;
  font-size: 12px;
  color: #A9A9B0;
  line-height: 18px;
}

.control {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.control-dot {
  opacity: 0.3;
  background: #A9A9B0;
  display: block;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  margin: 5px;
}
#selected {
  opacity: 1;
}
.signup-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 66.5px 70px 70px;
}
button {
  width: 215px;
  height: 30px;
  border-radius: 8px;
  border: none;
  margin: 7.5px;
}
.signup-Fb {
  background: #3B5998;
  color: white;
}
.signup-Gg {
  background: #F14336;
  color: white;
}
.signup-Em {
  background: #F8F8F8;
}
.signup-Fb:hover {
  background: rgb(39, 59, 100);
}
.signup-Gg:hover {
  background: rgb(184, 51, 42);
}
.signup-Em:hover {
  background: rgb(172, 172, 172);
}
p {
  font-family: Helvetica;
  font-size: 10px;
  color: #929292;
  letter-spacing: 0;
  text-align: center;
  margin: 3px;
}
footer {
  margin: 12.5px;
}
.f-span {
  opacity: 0.7;
  font-family: Helvetica;
  font-size: 12px;
  color: #3B3B3B;
}
.login-a {
  text-decoration: none;
  font-family: Helvetica;
  font-size: 12px;
  color: #F34949;
}
.login-a:hover, .login-a:active {
  color: #3B3B3B;
}

@media screen and (max-width: 380px) {
  
  .pictures-list {
    width: 375px;
  }
  
  
}